<div class="container-fluid">
  <div class="list">
    <div class="card">
      <div class="card-header float-left">
        <h4 class="float-left">Details List</h4>
        <div class="float-right d-flex justify-content-start">
            <span>
                <a  [routerLink]="['']">
                    <button type="button" class="btn btn-primary">Create</button>
                  </a>
            </span> 
          </div>
      </div>

      <div class="card-body">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Contact</th>
              <th scope="col">Address</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let details of personalDetails">
              <td>{{details.name}}</td>
              <td>{{details.email}}</td>
              <td>{{details.phone}}</td>
              <td>{{details.address}}</td>
              <td>
                <span class="text-success" [routerLink]="['']"
                  [queryParams]="{ id: details?._id , btnname: 'edit'}" title="Edit"
                  style="outline: none;cursor: pointer;">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </span>
                <span class="text-danger ml-1" style="outline: none;cursor: pointer;">
                  <i class="fa fa-trash" aria-hidden="true" (click)="delete(details?._id)"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
